<!DOCTYPE html>
<html lang="en">
<head>
	
		

{% include "commons/header.html" %}
	
</head>

<body>

{% include "commons/side_menu.html" %}

<script>
	function pass_revision_id(revid)
	{
		var url1 ="/pjm\/revision\/delete";
		var url2 ="/";
		var url3=revid;
		var url=url1+url2+url3;
		document.getElementById("d1").href=url;
	}
</script>

<style>
#right
{
    float:right;
    margin-right:20px;
    margin-bottom:5px; 
   	width:160px;
    border-radius:40px;
    text-align: center
 }
</style>
		



<noscript>
	<div class="alert alert-block span10">
		<h4 class="alert-heading">Warning!</h4>
		
	</div>
</noscript>
			
<!-- start: Content -->
	<div id="content" class="span10">
		<ul class="breadcrumb">
			<li>
				<i class="icon-home"></i>
				<a href="/pjm/pjm_index/">Home</a>
				<i class="icon-angle-right"></i> 
			</li>
			<li>
				<i class="icon-edit"></i>
				<a href="/deployment/customization/input/">Deployment</a>
			</li>
		</ul>
		
		
	{% include "commons/pjm_index.html" %}
		<div class="row-fluid sortable">		
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="halflings-icon white user"></i><span class="break"></span>Generation List</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						
						
						{% if revision %}
						<table class="table table-striped table-bordered bootstrap-datatable">
						  <thead>
							  <tr>
								  <th>Revision Name</th>
								  <th>Actions</th>
							  </tr>
						  </thead>   
						  <tbody>
						  
						  
						  {% for rev in revision %}
							<tr>
								<td>{{rev.name}}</td>
								
								<td class="center">
									
									<a class="btn btn-info" href="/pjm/revision/update/{{rev.id}}">
										<i class="halflings-icon white edit"></i>  
									</a>
									<a class="btn btn-danger btn-setting " href="" onclick="pass_revision_id({{rev.id}})">
										<i class="halflings-icon white trash"></i> 
									</a>
								</td>
							</tr>
							{% endfor %}
						  </tbody>
					  </table>
					  {% else %}
					  	
					  	<p> No Generation in the database </p>
					  {% endif %}	
					              
					</div>
				</div><!--/span-->
			
			</div><!--/row-->
		<ul class="nav nav-pills nav-justified">		
<li id="right" class="active"><a href="/pjm/revision/insert/">Add Revision</a></li></ul>
		


	</div><!--/.fluid-container-->
	
<!-- end: Content -->
		
		
<div class="modal hide fade" id="myModal">
	
	<button type="button" class="close" data-dismiss="modal">×</button>
	<div class="modal-body">
		<p>Continue delete?</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">No</a>
		<a href="" id="d1" class="btn btn-primary">Yes</a>
	</div>
</div>cccc
	
	<div class="clearfix"></div>
	
	<footer>

		<p>
			<span style="text-align:left;float:left">&copy; 2013 <a href="http://themifycloud.com/downloads/janux-free-responsive-admin-dashboard-template/" alt="Bootstrap_Metro_Dashboard">JANUX Responsive Dashboard</a></span>
			
		</p>

	</footer>
	
	<!-- start: JavaScript-->
	
		
{% include "commons/footer.html" %}
	
	
	<script src="/static/js/customization_validation.js"></script>	
</body>
</html>
