<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
			
				<a class="brand" href="index.html"><span><font color="#FFFFFF">Redfish Project</font></span></a>
								
				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">
						<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white user"></i> {{full_name}}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li class="dropdown-menu-title">
 									<span>Account Settings</span>
								</li>
								<li><a href="login/profile.html"><i class="halflings-icon user"></i> Profile</a></li>
								<li><a href="/login/logout/"><i class="halflings-icon off"></i> Logout</a></li>
							</ul>
						</li>
						<!-- end: User Dropdown -->
					</ul>
				</div>
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<!-- start: Header -->
	
		<div class="container-fluid-full">
		<div class="row-fluid">
				
			<!-- start: Main Menu -->
			<div id="draggable">
			<div id="sidebar-left" class="span2">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li class="list" id="1"><font color="red">Dashboard</font></li>	
						<li class="list" id="2"> <font color="red">Calendar</font></li>
						<li class="list" id="3"> <font color="red">Wiki How</font></li>
						
				
					</ul>
				</div>
			</div>
			</div>div>
			<!-- end: Main Menu -->
