<!DOCTYPE html>
<html lang="en">
<head>
	{% include "commons/header.html" %}
	<script type='text/javascript' src='/static/js/jquery-1.6.2.js'></script>
</head>

<body>
	{% include "commons/side_menu.html" %}		
	<noscript>
		<div class="alert alert-block span10">
			<h4 class="alert-heading">Warning!</h4>
			<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
		</div>
	</noscript>
			
	<!-- start: Content -->
	<div id="content" class="span10">
		<ul class="breadcrumb">
			<li>
				<i class="icon-home"></i>
				<a href="/dashboard/">Home</a>
				<i class="icon-angle-right"></i> 
			</li>
			<li>
				<i class="icon-edit"></i>
				<a href="/bios_app/bios/">BIOS</a>
			</li>
		</ul>
		<div class="alert alert-error">
			<center><strong> Do not refresh or close the page while the process is in execution.</strong> </center>
		</div>
		<div id="hideform">
			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2>Please provide your iDRAC credentials.</h2>
					</div>
					<div class="box-content">
						<form name='bios'>
							<label for="ipadd"> IP Address:</label>
							<input type="text" name="ipadd" value="" id="ipadd" autofocus >
							<p></p>
							<label for="username"> User name:</label>
							<input type="text" name="username" value="" id="username">
							<p></p>
							<label for="password"> Password:</label>
							<input type="password" name="password" value="" id="password" >
							<p></p>
								<div class="form-actions">
									<input type="button" id="mybtn" value="Connect"  class="btn btn-primary" onclick="loadDoc()" > <input type ="reset" class="btn">
								</div>
						</form>
					</div>
				</div><!--/span-->
			</div><!--/row-->
		</div>
		<!-- start: Content -->
		<form>
			<div id ="table" style="display:none;">
				<div class="row-fluid sortable">
					<div class="box span12">
						<div class="box-header">
							<h2>Simple Table</h2>
						</div>
						<div class="box-content">
							<p id="demo" style="display:none;"></p>
							<div id="results"></div>
							<div id="results1"></div>
							<div id="r"></div>											
							<input type = "button" value="Validate" id="b1" class="btn btn-primary" onclick="validatecheck(h)" style="display:none;" >
							<input type="hidden" name="s" id="s"> 
							<input type ="hidden" name="h" id="s1">
							<div id="hi"></div>
						</div>
					</div><!--/span-->
				</div><!--/row-->
			</div>
		</form>

		<div class="row-fluid sortable">
			<div class="box span12">
				<div class="box-header" data-original-title>
					<h2>Console</h2>
				</div>
				<div class="box-content">
					<div class="console" id="consoleBox">
						<ul class="messagesList" id="console">
							<table id= "userdata" class="table  bootstrap-datatable">
								<tbody></tbody>
   							</table>
   						</ul>
					</div>
				</div>
			</div><!--/span-->
		</div><!--/row-->
	</div><!--/.fluid-container-->
	<!-- end: Content -->
		
	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<!-- {<button type="button" class="close" data-dismiss="modal">×</button> } -->
				
			<h3>Settings</h3>
		</div>
		<div class="modal-body">
			<p>Here settings can be configured...</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<a href="#" class="btn btn-primary">Save changes</a>
		</div>
	</div>
	
	<div class="clearfix"></div>
	{% include "commons/footer.html" %}

	<script src="http://100.98.13.53:8010/socket.io/socket.io.js"></script>
	<script src="/static/js/bios_validation.js"></script>

</body>
</html>
