<!DOCTYPE html>
<html lang="en">
<head>
	
		

{% include "commons/header.html" %}
	
</head>

<body>

{% include "commons/side_menu.html" %}
<script>
	function finalupdate()
		{	//alert("insisde");
			form = document.forms[0]; //assuming only form.
			//alert(form);
			//alert("Update Successful!!");
			form.submit();		
			//return;
			alert("Update Successful!!");
			//alert("Update Successful!!");
		}
</script>

<noscript>
	<div class="alert alert-block span10">
		<h4 class="alert-heading">Warning!</h4>
		
	</div>
</noscript>
			
<!-- start: Content -->
	<div id="content" class="span10">
		<ul class="breadcrumb">
			<li>
				<i class="icon-home"></i>
				<a href="/pjm/pjm_index/">Home</a>
				<i class="icon-angle-right"></i> 
			</li>
			<li>
				<i class="icon-edit"></i>
				<a href="/deployment/customization/input/">Deployment</a>
			</li>
		</ul>
		
		<form name="platform_insert" class="form-horizontal" method="post" action="../update/{{swb.id}}", enctype="multipart/form-data">
		<div class="row-fluid sortable"  id="input_form" >
			<div class="box span12">
				<div class="box-header" data-original-title>
					<h2><i class="halflings-icon white edit"></i><span class="break"></span>Insert New Platform Details</h2>
					<div class="box-icon">
						<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
					</div>
				</div>
				<div class="box-content">
					
					{% csrf_token %}
						<fieldset>
							<div class="control-group">
								<label class="control-label" for="inputSuccess">SWB No.</label>
								<div class="controls">
									<input type="text" name="swb_no" id="swb_no" value={{swb.swb}}>
										<span class="help-inline">Woohoo!</span>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="selectError">Select OS</label>
								<div class="controls">
								<select name="os_list" data-rel="chosen">
								{% if os %}
								  
								  {% for each_os in os %}
									
									{% if each_os.id == swb.os.id %}
									
									<option value="{{each_os.id}}" selected>{{each_os.name}}</option>
								  
								  	{% else %}
								  	
								  	<option value="{{each_os.id}}">{{each_os.name}}</option>
								  	
								  	{% endif %} 
								  
								  {% endfor %}
								  
								  
								  {% else %}
					  			<option value="0">Kindly Add OS</option>
					  			{% endif %}
								</select>
								</div>
							  </div>

							<div class="control-group">
								<label class="control-label" for="selectError">Select OS</label>
								<div class="controls">
								<select name="update_list" data-rel="chosen">
								{% if update %}
								  
								  {% for upd in update %}
								  
								  {% if upd.id == swb.update.id %}
								  
									<option value="{{upd.id}}" selected>{{upd.name}}</option>
								  
								  {% else %}
								  
								  <option value="{{upd.id}}">{{upd.name}}</option>
								  
								  {% endif %}
								  
								  {% endfor %}
								  
								  
								  {% else %}
					  			<option value="0">Kindly Add OS Update</option>
					  			{% endif %}
								</select>
								</div>
							  </div>

							<div class="control-group">
								<label class="control-label" for="selectError">Select Revision</label>
								<div class="controls">
								<select name="revision_list" data-rel="chosen">
								{% if revision %}
								  
								  {% for rev in revision %}
									
									{% if rev.id == swb.revision.id %}
									
									<option value="{{rev.id}}" selected>{{rev.name}}</option>
								  
								  {% else %}
								  
								  	<option value="{{rev.id}}">{{rev.name}}</option>
								  
								  {% endif %}
								  
								  
								  {% endfor %}
								  
								  
								  {% else %}
					  			<option value="0">Kindly Add Revision</option>
					  			{% endif %}
								</select>
								</div>
							  </div>

				</fieldset>		
					   
				</div>
				</div>
				</div>

				
				<div class="row-fluid sortable"  >
			<div class="box span12">
				<div class="box-header" data-original-title>
					<h2><i class="halflings-icon white edit"></i><span class="break"></span>Select the Supported Platform Details</h2>
					<div class="box-icon">
						<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
					</div>
				</div>
				<div class="box-content">
				<fieldset>
				{% if platform %}
				<table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								  <th>Platform Name</th>
								  <th>Platform PH</th>
								  <th>Platform Model No</th>
								  <th>Generation</th>
								  <th>Actions</th>
							  </tr>
						  </thead>   
						  <tbody>
					  {% for plt in platform %}
							<tr>
								
								<td class="center">{{plt.model_no}}</td>
								<td class="center">{{plt.ph}}</td>
								<td class="center">{{plt.name}}</td>
								<td class="center">{{plt.gen.gen}}</td>								
								<td class="center">
									
									{% if plt.ph in selectedPlatforms %}
									
									<input type="checkbox" name="platform_selected" value="{{plt.ph}}" checked />
									
									{% else %}
									
									<input type="checkbox" name="platform_selected" value="{{plt.ph}}" />
									
									{% endif %}
									
								</td>
							</tr>
							{% endfor %}
						  </tbody>
					  </table>           
					 {% else %}
					  	
					  	<p> No Platform in the database </p>
					  {% endif %}
												
							</div>
						</fieldset>
					
				</div>

					<div class="form-actions">
								<button type="submit" class="btn btn-primary">Update</button>
								<a href="/pjm/swb/" class="btn" data-dismiss="modal">Cancel</a>
					</div>
		</form>


			</div><!--/span-->
		</div><!--/row-->

   

	</div><!--/.fluid-container-->
	
<!-- end: Content -->
		
		
<div class="modal hide fade" id="myModal">
	<div class="">
		<button type="button" class="close" data-dismiss="modal">×</button>
	</div>
	<div class="modal-body">
		<p>Continue Update?</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">No</a>
		<a href="" id="d1" class="btn btn-primary" onclick="finalupdate()">Yes</a>
	</div>
</div>
	
	<div class="clearfix"></div>
	
	<footer>

		<p>
			<span style="text-align:left;float:left">&copy; 2013 <a href="http://themifycloud.com/downloads/janux-free-responsive-admin-dashboard-template/" alt="Bootstrap_Metro_Dashboard">JANUX Responsive Dashboard</a></span>
			
		</p>

	</footer>
	
	<!-- start: JavaScript-->
	
		
{% include "commons/footer.html" %}
	
	
	<script src="/static/js/customization_validation.js"></script-->	
</body>
</html>
