<!DOCTYPE html>
<html lang="en">
<head>

{% include "commons/header.html" %}
	
</head>

<body>

{% include "commons/side_menu.html" %}
<noscript>
	<div class="alert alert-block span10">
		<h4 class="alert-heading">Warning!</h4>
		
	</div>
</noscript>
			
<!-- start: Content -->
	<div id="content" class="span10">
		<ul class="breadcrumb">
			<li>
				<i class="icon-home"></i>
				<a href="/pjm/pjm_index/">Home</a>
				<i class="icon-angle-right"></i> 
			</li>
			<li>
				<i class="icon-edit"></i>
				<a href="/deployment/customization/input/">Deployment</a>
			</li>
		</ul>
		<div class="row-fluid sortable"  id="input_form" >
			<div class="box span12">
				<div class="box-header" data-original-title>
					<h2><i class="halflings-icon white edit"></i><span class="break"></span>Update Server</h2>
					<div class="box-icon">
						<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
					</div>
				</div>
				<div class="box-content">
					{% if server %}
					<form class="form-horizontal" method="post" action="/redfish/servers/update/{{server.id}}", enctype="multipart/form-data">
					{% csrf_token %}
					
						<fieldset>
					
							<div class="control-group">
								<label class="control-label" for="inputSuccess">Server IP</label>
								<div class="controls">
									<input type="text" name="ip" id="ip" value={{server.ip}}>
										<span class="help-inline">Woohoo!</span>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="inputSuccess">Server Username</label>
								<div class="controls">
									<input type="text" name="username" id="username" value={{server.username}}>
								</div>
							</div>		
								
							<div class="control-group">
								<label class="control-label" for="inputSuccess">Server Password</label>
								<div class="controls">		
									<input type="text" name="password" id="password" value={{server.password}}>
								</div>
							</div>
							
							
							
							
					{% endif %}	
						
							<div class="form-actions">
								<button type="submit" class="btn btn-primary" ">Update</button>
								<a href="/redfish/servers/" class="btn" data-dismiss="modal">Cancel</a>
								
							</div>
						</fieldset>
					</form>   
				</div>
			</div><!--/span-->
		</div><!--/row-->





	</div><!--/.fluid-container-->
	
<!-- end: Content -->
	
<div class="modal hide fade" id="myModal">
	<button type="button" class="close" data-dismiss="modal">×</button>
	<div class="modal-body">
		<p>Continue Update?</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">No</a>
		<a href="" id="d1" class="btn btn-primary" onclick="finalupdate()">Yes</a>
	</div>
</div>
	
	<div class="clearfix"></div>
							
<script>
function finalupdate()
{	//alert("insisde");
form = document.forms[0]; //assuming only form.
//alert(form);
form.submit();
alert("Update Successful!!");
}
</script>


	
	<div class="clearfix"></div>
	
	<footer>

		<p>
			<span style="text-align:left;float:left">&copy; 2013 <a href="http://themifycloud.com/downloads/janux-free-responsive-admin-dashboard-template/" alt="Bootstrap_Metro_Dashboard">JANUX Responsive Dashboard</a></span>
			
		</p>

	</footer>
	
	<!-- start: JavaScript-->
	
		
{% include "commons/footer.html" %}
	
	
	<script src="/static/js/customization_validation.js"></script>	
</body>
</html>
